[Unit]
Description=Pound Reverse Proxy And Load-balancer
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pound

[Install]
WantedBy=multi-user.target
